决赛版（初赛改）-v3.4-Chatflow.yml
app:
  description: 2026问途杯决赛版（初赛改）- 酒店全能智能前台 v3.4。基于Dify手动绑定后的加密知识库ID连接20260516合并知识库；仅移除比赛不使用的周边景点知识库检索，保留天气查询；景点、门票、游玩路线类问题统一引导拨打前台；客房预订链路增加Asia/Shanghai当前时间节点，用于处理今晚、明天、后天等相对日期。
  icon: 🏨
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 决赛版（初赛改）-v3.4-Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.42@85e7bb71e461653ac101330c751973085dfdde26c906b07d7dff8030c95bc39e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openweather:0.0.6@a16f3f6c79b1cb45bc22942ed84c53a9732c118bde0a46d0d9282a9d15581347
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: hotel-booking
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: 宾客姓名
    id: 1f17e64b-0cb7-4d0a-a7c7-000000000001
    name: guest_name
    selector:
    - conversation
    - guest_name
    value: ''
    value_type: string
  - description: 入住日期
    id: 4a78cc37-cac4-401e-a0a7-000000000002
    name: checkin_date
    selector:
    - conversation
    - checkin_date
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好，欢迎莅临新会碧桂园凤凰酒店。我是您的专属 AI 助理，可以为您解答客房预订、餐饮美食、会议宴会和周边游玩问题，并直接帮您完成订房。本助手支持语音输入，点击麦克风即可说话。请问有什么可以帮您？
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: true
    suggested_questions:
    - 今晚还有空房吗？
    - 可以带宠物入住吗？
    - 酒店几点可以办理入住和退房？
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1776498156667-source-1776498264454-target
      source: '1776498156667'
      sourceHandle: source
      target: '1776498264454'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1-1776498277196-target
      source: '1776498264454'
      sourceHandle: '1'
      target: '1776498277196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776498277196-source-llm-target
      source: '1776498277196'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-2-1776499500104-target
      selected: false
      source: '1776498264454'
      sourceHandle: '2'
      target: '1776499500104'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776499500104-source-1776499509929-target
      source: '1776499500104'
      sourceHandle: source
      target: '1776499509929'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-1776500219442-target
      source: llm
      sourceHandle: source
      target: '1776500219442'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776499509929-source-1776511352860-target
      source: '1776499509929'
      sourceHandle: source
      target: '1776511352860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1776498527615-1776511368580-target
      source: '1776498264454'
      sourceHandle: '1776498527615'
      target: '1776511368580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776511368580-source-1776511376079-target
      source: '1776511368580'
      sourceHandle: source
      target: '1776511376079'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776511376079-source-1776511388544-target
      source: '1776511376079'
      sourceHandle: source
      target: '1776511388544'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1776498557607-1776511399253-target
      source: '1776498264454'
      sourceHandle: '1776498557607'
      target: '1776511399253'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776511455200-source-1776511481705-target
      source: '1776511455200'
      sourceHandle: source
      target: '1776511481705'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776586548774-source-1776586557266-target
      source: '1776586548774'
      sourceHandle: source
      target: '1776586557266'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: tool
      id: 1776498264454-1776498578463-1778841497605-target
      source: '1776498264454'
      sourceHandle: '1776498578463'
      target: '1778841497605'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776511399253--1776760670660-target
      source: '1776511399253'
      sourceHandle: source
      target: '1776760670660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776760670660-source-1776511464396-target
      source: '1776760670660'
      sourceHandle: source
      target: '1776511464396'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776843326129-source-1776586548774-target
      source: '1776843326129'
      sourceHandle: source
      target: '1776586548774'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1776586502606-1776843326129-target
      source: '1776498264454'
      sourceHandle: '1776586502606'
      target: '1776843326129'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776900001000-source-1776900002000-target
      source: '1776900001000'
      sourceHandle: source
      target: '1776900002000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1778841497605-source-1776511455200-target
      source: '1778841497605'
      sourceHandle: source
      target: '1776511455200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: tool
      id: 1776498264454-1776900000000-1779049137062-target
      source: '1776498264454'
      sourceHandle: '1776900000000'
      target: '1779049137062'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: tool
      id: 1779049137062-source-1778843661327-target
      source: '1779049137062'
      sourceHandle: source
      target: '1778843661327'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1778843661327-source-1776900001000-target
      source: '1778843661327'
      sourceHandle: source
      target: '1776900001000'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables: []
      height: 52
      id: '1776498156667'
      position:
        x: 30
        y: 379.5
      positionAbsolute:
        x: 30
        y: 379.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776498277196'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 501
            stop: []
            temperature: 0.2
            top_k: 1
            top_p: 0.5
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: c81552bc-3f33-478c-9228-4485b565cf8d
          role: system
          text: '## 短确认语防误判规则

            如果用户内容仅为以下短确认语之一：确认预订、正确、好的、好、对、是的、没问题、可以、确认、行、没错、嗯、嗯嗯、OK、ok，不得根据知识库编造预订结果，不得输出“预订成功”、房号预留、短信发送、错误电话或任何支付结果。请固定回复：“您好，如果您是在确认客房预订，请回复「确认预订」，我将为您生成预订流水编号和支付二维码；如需其他服务，也可以继续告诉我。”


            用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是新会碧桂园凤凰酒店的专属客服，仅按照知识库回答，必须严格遵守

            【约束】

            1.据实回答，用语礼貌简洁，尊称客人为"先生/女士"或"您好"。精准答疑，主动引导信息。2.若知识库中没有相关信息，请礼貌告知：

            "抱歉，我暂未在系统中查到相关信息，建议您直接拨打酒店前台电话0750-662-9888进行详细咨询。"

            3.只回答用户当前的问题，不主动添加无关信息、不额外延伸。

            酒店地址：广东省江门市新会区会城镇启超大道1号

            4.所有内容必须基于知识库，禁止编造；无对应信息时礼貌告知无法解答，不主动延伸到用户未提及的业务。

            5.客人提问价格、会员等级时，告知无法提供相关信息，请礼貌婉拒客人：我暂时无法为您提供准确回答，建议您直接联系酒店前台电话：0750-662-9888'
        selected: false
        title: 酒店概况
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 936
        y: 379.5
      positionAbsolute:
        x: 936
        y: 379.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 酒店概况
        - id: '2'
          name: 客房产品体系
        - id: '1776498527615'
          name: 餐饮娱乐配套
        - id: '1776498557607'
          name: 会议宴会服务
        - id: '1776498578463'
          name: 天气查询与周边咨询
        - id: '1776586502606'
          name: 开场引导
        - id: '1776900000000'
          name: 客房预订/预订确认/支付（确认预订、正确、好的）
        instructions: 请将用户问题分类到最匹配的类别。注意区分"客房产品体系"（询问房型特点、设施介绍、入住政策、宠物政策、停车、退房时间）和"客房预订/预订确认/支付"（想要预订、查可用日期、查价格、确认预订、支付、取消订单）。凡涉及预订操作的问题（包括今晚订房、明天入住、确认预订、已支付确认），一律归入"客房预订/预订确认/支付（确认预订、正确、好的）"。强制规则：如果用户消息只包含或主要表达肯定确认语，例如"确认预订"、"正确"、"好的"、"好"、"对"、"是的"、"没问题"、"可以"、"确认"、"行"、"没错"、"嗯"、"嗯嗯"、"OK"、"ok"，即使你看不到上一轮历史，也必须归入"客房预订/预订确认/支付（确认预订、正确、好的）"，不得归入酒店概况、客房产品体系、餐饮娱乐配套、会议宴会服务、天气查询与周边咨询或开场引导。凡询问天气、气温、下雨、晴天、风力、天气预报，或询问周边景点、景区门票、游玩路线、附近旅游等问题，归入"天气查询与周边咨询"。
        model:
          completion_params:
            disable_search: true
            max_tokens: 500
            temperature: 0.1
            top_k: 20
            top_p: 0.5
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1776498156667'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 360
      id: '1776498264454'
      position:
        x: 332
        y: 379.5
      positionAbsolute:
        x: 332
        y: 379.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 4A1M9en7AsnpkU3ad/f2t2N+ecKzUCZiTcXOd4S7/F0+MuvF+3hyTqeif6W0cz3M
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 酒店概况
        type: knowledge-retrieval
      height: 52
      id: '1776498277196'
      position:
        x: 634
        y: 379.5
      positionAbsolute:
        x: 634
        y: 379.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 4A1M9en7AsnpkU3ad/f2t2N+ecKzUCZiTcXOd4S7/F0+MuvF+3hyTqeif6W0cz3M
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 客房产品
        type: knowledge-retrieval
      height: 52
      id: '1776499500104'
      position:
        x: 634
        y: 522.5
      positionAbsolute:
        x: 634
        y: 522.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776499500104'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 501
            temperature: 0.2
            top_k: 1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 7194962d-632f-4f3b-b40b-bc08d532bb9c
          role: system
          text: '## 短确认语防误判规则

            如果用户内容仅为以下短确认语之一：确认预订、正确、好的、好、对、是的、没问题、可以、确认、行、没错、嗯、嗯嗯、OK、ok，不得根据知识库编造预订结果，不得输出“预订成功”、房号预留、短信发送、错误电话或任何支付结果。请固定回复：“您好，如果您是在确认客房预订，请回复「确认预订」，我将为您生成预订流水编号和支付二维码；如需其他服务，也可以继续告诉我。”


            用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店客房产品专属智能顾问，负责清晰、友好地介绍各房型特点、设施、权益与预订规则，解答入住、房型升级、加床、儿童政策等相关问题。用语礼貌简洁，复杂问题可礼貌转接人工。

            【约束】：1. 用语礼貌简洁，精准答疑。若知识库中没有相关房型信息，请礼貌告知"关于该项细节我暂时无法确认，建议您拨打酒店前台电话 0750-662-9888 进一步咨询。"

            2. 你是一个基于封闭知识库的 AI。你回答的所有信息（房型、配置、价格、政策等）必须 100% 来源于上下文。严禁使用互联网信息、常识或个人经验进行填补。'
        selected: false
        title: 客房产品
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776499509929'
      position:
        x: 936
        y: 522.5
      positionAbsolute:
        x: 936
        y: 522.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 酒店概况回复
        type: answer
        variables: []
      height: 103
      id: '1776500219442'
      position:
        x: 1238
        y: 379.5
      positionAbsolute:
        x: 1238
        y: 379.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776499509929.text#}}'
        selected: false
        title: 客房产品回复
        type: answer
        variables: []
      height: 103
      id: '1776511352860'
      position:
        x: 1238
        y: 522.5
      positionAbsolute:
        x: 1238
        y: 522.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 4A1M9en7AsnpkU3ad/f2t2N+ecKzUCZiTcXOd4S7/F0+MuvF+3hyTqeif6W0cz3M
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 餐饮娱乐
        type: knowledge-retrieval
      height: 52
      id: '1776511368580'
      position:
        x: 634
        y: 665.5
      positionAbsolute:
        x: 634
        y: 665.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776511368580'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 300
            temperature: 0.2
            top_k: 1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 2cd142b7-0933-4123-9872-ecfe40df2abb
          role: system
          text: '## 短确认语防误判规则

            如果用户内容仅为以下短确认语之一：确认预订、正确、好的、好、对、是的、没问题、可以、确认、行、没错、嗯、嗯嗯、OK、ok，不得根据知识库编造预订结果，不得输出“预订成功”、房号预留、短信发送、错误电话或任何支付结果。请固定回复：“您好，如果您是在确认客房预订，请回复「确认预订」，我将为您生成预订流水编号和支付二维码；如需其他服务，也可以继续告诉我。”


            用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店餐饮娱乐专属顾问，将根据用户提问，清晰友好地介绍酒店餐厅、酒吧、特色餐饮、娱乐设施的开放时间、菜品特色、消费权益与预订规则，解答用餐、酒水、儿童政策及娱乐项目相关问题。用语礼貌简洁，复杂问题可礼貌转人工。

            你是一个基于封闭知识库的 AI。你回答的所有信息（餐饮、配置、价格、政策等）必须 100% 来源于上下文。严禁使用互联网信息、常识或个人经验进行填补。严禁回答任何知识库中未提及的餐饮或娱乐信息。

            【约束】：如信息不确定，请建议用户拨打酒店前台0750-662-9888'
        selected: false
        title: 餐饮娱乐
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776511376079'
      position:
        x: 936
        y: 665.5
      positionAbsolute:
        x: 936
        y: 665.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776511376079.text#}}'
        selected: false
        title: 餐饮娱乐回复
        type: answer
        variables: []
      height: 103
      id: '1776511388544'
      position:
        x: 1238
        y: 665.5
      positionAbsolute:
        x: 1238
        y: 665.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 4A1M9en7AsnpkU3ad/f2t2N+ecKzUCZiTcXOd4S7/F0+MuvF+3hyTqeif6W0cz3M
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 宴会会议
        type: knowledge-retrieval
      height: 52
      id: '1776511399253'
      position:
        x: 634
        y: 966.5
      positionAbsolute:
        x: 634
        y: 966.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 500
            temperature: 0.1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: weather-consult-system-v3-4
          role: system
          text: '## 短确认语防误判规则

            如果用户内容仅为以下短确认语之一：确认预订、正确、好的、好、对、是的、没问题、可以、确认、行、没错、嗯、嗯嗯、OK、ok，不得根据知识库编造预订结果，不得输出“预订成功”、房号预留、短信发送、错误电话或任何支付结果。请固定回复：“您好，如果您是在确认客房预订，请回复「确认预订」，我将为您生成预订流水编号和支付二维码；如需其他服务，也可以继续告诉我。”


            用户内容：{{#sys.query#}}


            实时天气数据：{{#1778841497605.text#}}


            角色：

            你是新会碧桂园凤凰酒店的天气咨询客服。所有回复直接以中文开始，用语礼貌简洁。


            ## 回答规则


            1. 如果用户询问天气、气温、晴雨、风力、天气预报，只能根据「实时天气数据」回答；不要编造天气数据里没有的信息。

            2. 如果实时天气数据为空、异常或没有相关字段，请回复："您好，当前天气查询暂时无法确认，建议您拨打酒店前台电话0750-662-9888咨询实时情况。"

            3. 如果用户询问周边景点、景区门票、游玩路线、附近旅游、景点推荐、出行攻略等内容，不做景点推荐，不查询知识库，固定回复："您好，周边景点、景区门票、游玩路线和实时出行建议请直接咨询酒店前台。前台电话：0750-662-9888，工作人员会根据当天实际情况为您提供帮助。"

            4. 如果用户同时询问天气和景点游玩建议，可以先简要说明天气数据，再说明景点、门票和路线请咨询前台0750-662-9888；不得推荐具体景点。'
        selected: false
        title: 天气查询与周边咨询
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776511455200'
      position:
        x: 1238
        y: 823.5
      positionAbsolute:
        x: 1238
        y: 823.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776760670660.text#}}'
        selected: false
        title: 宴会会议回复
        type: answer
        variables: []
      height: 103
      id: '1776511464396'
      position:
        x: 1238
        y: 966.5
      positionAbsolute:
        x: 1238
        y: 966.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776511455200.text#}}'
        selected: false
        title: 天气与周边咨询回复
        type: answer
        variables: []
      height: 103
      id: '1776511481705'
      position:
        x: 1540
        y: 816
      positionAbsolute:
        x: 1540
        y: 816
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776843326129'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 301
            temperature: 0.5
            top_k: 1
            top_p: 0.6
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 6c8a135b-ed8f-4dab-ba30-e88d94b5da0e
          role: system
          text: '## 短确认语防误判规则

            如果用户内容仅为以下短确认语之一：确认预订、正确、好的、好、对、是的、没问题、可以、确认、行、没错、嗯、嗯嗯、OK、ok，不得根据知识库编造预订结果，不得输出“预订成功”、房号预留、短信发送、错误电话或任何支付结果。请固定回复：“您好，如果您是在确认客房预订，请回复「确认预订」，我将为您生成预订流水编号和支付二维码；如需其他服务，也可以继续告诉我。”


            用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店前台客服，以"先生/女士"或"您好"称呼客人。仅回复酒店业务相关问题，闲聊话题请礼貌引导用户咨询酒店相关事宜，不编造、不闲聊。

            开场引导："您好，欢迎莅临新会碧桂园凤凰酒店。我是您的专属 AI 助理，请问有什么可以帮您？"

            结束语：您好！除了刚才聊的这些，还有什么我可以帮您的吗？'
        selected: false
        title: 开场引导
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776586548774'
      position:
        x: 936
        y: 1109.5
      positionAbsolute:
        x: 936
        y: 1109.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776586548774.text#}}'
        selected: false
        title: 开场引导回复
        type: answer
        variables: []
      height: 103
      id: '1776586557266'
      position:
        x: 1238
        y: 1109.5
      positionAbsolute:
        x: 1238
        y: 1109.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776511399253'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 500
            temperature: 0.1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: d5f83ff3-af23-4fe6-8d9a-94f4ca2aebf3
          role: system
          text: '## 短确认语防误判规则

            如果用户内容仅为以下短确认语之一：确认预订、正确、好的、好、对、是的、没问题、可以、确认、行、没错、嗯、嗯嗯、OK、ok，不得根据知识库编造预订结果，不得输出“预订成功”、房号预留、短信发送、错误电话或任何支付结果。请固定回复：“您好，如果您是在确认客房预订，请回复「确认预订」，我将为您生成预订流水编号和支付二维码；如需其他服务，也可以继续告诉我。”


            用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店会议宴会专属顾问，负责根据知识库解答会场、宴会厅、设备、茶歇、服务流程和人数适配等相关问题，只能依据知识库内容作答。

            1. 知识库中有明确的会议宴会信息时，请准确、完整输出。

            2. 可针对客户询价、场地选择、设备介绍、茶歇定制、服务流程、人数适配等高频问题进行精准回答。

            3. 不超权限承诺，不编造信息，不泄露隐私。

            4. 具体场地费用及配套价格需要根据会议规模、日期及具体需求进行核算。

            5.为了提供准确方案，请建议用户直接联系酒店前台 0750-662-9888。

            '
        selected: false
        title: 宴会会议
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776760670660'
      position:
        x: 936
        y: 966.5
      positionAbsolute:
        x: 936
        y: 966.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 4A1M9en7AsnpkU3ad/f2t2N+ecKzUCZiTcXOd4S7/F0+MuvF+3hyTqeif6W0cz3M
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - '1776498156667'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 开场引导
        type: knowledge-retrieval
      height: 52
      id: '1776843326129'
      position:
        x: 634
        y: 1109.5
      positionAbsolute:
        x: 634
        y: 1109.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Target city for weather forecast query
            ja_JP: Target city for weather forecast query
            pt_BR: Cidade de destino para consulta de previsão do tempo
            zh_Hans: 天气预报查询的目标城市
          label:
            en_US: city
            ja_JP: city
            pt_BR: cidade
            zh_Hans: 城市
          llm_description: If you don't know you can extract the city name from the question or you can reply：Please tell
            me your city. You have to extract the Chinese city name from the question.If the input region is in Chinese characters
            for China, it should be replaced with the corresponding English name, such as '北京' for correct input is 'Beijing'
          max: null
          min: null
          name: city
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: zh_cn
          form: form
          human_description:
            en_US: language
            ja_JP: language
            pt_BR: language
            zh_Hans: 语言
          label:
            en_US: language
            ja_JP: language
            pt_BR: language
            zh_Hans: 语言
          llm_description: ''
          max: null
          min: null
          name: lang
          options:
          - icon: ''
            label:
              en_US: cn
              ja_JP: cn
              pt_BR: cn
              zh_Hans: 中国
            value: zh_cn
          - icon: ''
            label:
              en_US: usa
              ja_JP: usa
              pt_BR: usa
              zh_Hans: 美国
            value: en_us
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: metric
          form: form
          human_description:
            en_US: units for temperature
            ja_JP: units for temperature
            pt_BR: units for temperature
            zh_Hans: 温度单位
          label:
            en_US: units
            ja_JP: units
            pt_BR: units
            zh_Hans: 单位
          llm_description: ''
          max: null
          min: null
          name: units
          options:
          - icon: ''
            label:
              en_US: metric
              ja_JP: metric
              pt_BR: metric
              zh_Hans: ℃
            value: metric
          - icon: ''
            label:
              en_US: imperial
              ja_JP: imperial
              pt_BR: imperial
              zh_Hans: ℉
            value: imperial
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        params:
          city: ''
          lang: ''
          units: ''
        provider_id: langgenius/openweather/openweather
        provider_name: langgenius/openweather/openweather
        provider_type: builtin
        selected: false
        title: 天气查询
        tool_configurations:
          lang:
            type: constant
            value: zh_cn
          units:
            type: constant
            value: metric
        tool_description: 天气查询
        tool_label: 天气查询
        tool_name: weather
        tool_node_version: '2'
        tool_parameters:
          city:
            type: constant
            value: Xinhui
        type: tool
      height: 114
      id: '1778841497605'
      position:
        x: 634
        y: 757.5
      positionAbsolute:
        x: 634
        y: 757.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 600
            stop: []
            temperature: 0.3
            top_k: 1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: hotel-booking-llm-system
          role: system
          text: "用户内容：{{#sys.query#}}\n当前日期时间（Asia/Shanghai）：{{#1779049137062.text#}}\n实时房态数据：{{#1778843661327.text#}}\n已知宾客姓名：{{#conversation.guest_name#}}\n\
            已知入住日期：{{#conversation.checkin_date#}}\n角色：\n你是「新会碧桂园凤凰酒店」的智能预订助理。所有回复直接以中文开始，禁止输出任何技术标签或英文句子开头。\n## \U0001F4C5\
            \ 日期格式规范\n当前日期时间以Asia/Shanghai为准，格式示例：2026-05-17 22:30:00 Sunday。\n\n            处理“今天/今晚/明天/后天/本周/周末”等相对日期时，必须先基于「当前日期时间」换算成YYYY-MM-DD。\n\
            \n            客人说“今晚”或“今天入住”时，入住日期=当前日期；如未说明离店日期，默认按住1晚理解为次日离店，并在确认摘要中清楚标明供客人确认。\n\n            如需提及星期，将English\
            \ weekday转换成中文星期。年份不明时默认当前日期时间所在年份。\n## \U0001F3E8 房型代码对照表\n大床房：001 高级大床房 | 002 豪华大床房 | 003 行政大床房\n双床房：010 行政双床房\
            \ | 011 豪华双床房 | 012 高级双床房\n套房：004 高级套房 | 005 豪华套房 | 006 行政套房 | 007 皇室套房 | 008 总统套房\n特色：009 蜜月套房 | 013 卡通亲子房\n\
            客人提到列表外的房型（如\"标准间\"）→礼貌告知没有该房型，询问需求，推荐最接近的房型。\n## 房态数据使用规则\n1. 若「实时房态数据」包含有效JSON（rooms数组），读取各房型的status、available以及价格相关字段展示给客人；价格字段可能叫price、roomPrice、salePrice、rate、amount、minPrice、currentPrice或中文“价格/房价/房费”。\n\
            2. 若目标房型有明确价格，必须在推荐、确认摘要和支付引导中展示该价格；如果有多晚或多间，按价格×晚数×间数计算预估总价，并标注“以小途乐订待支付页面为准”。\n3. 若实时房态数据没有返回价格字段，不得省略价格行，也不得编造价格；必须写“房价：系统未返回实时价格，以小途乐订小程序待支付页面显示金额为准”。\n\
            4. 若房态数据为空或格式异常，告知\"房态查询服务暂时繁忙\"，继续引导预订流程，并提示价格以小途乐订待支付页面为准；\n5. 目标房型满房时，主动推荐available最多的2个替代房型。\n## 订房 SOP（按序逐一询问缺失信息，每轮只问一项）\n\
            第一步：明确房型，引导选择\n第二步：根据房态数据展示可用房型及房态\n第三步：收集完整预订信息：\n① 宾客姓名 ② 手机号码 ③ 入住日期（YYYY-MM-DD）④ 离店日期（YYYY-MM-DD）⑤ 房型代码 ⑥\
            \ 预订间数（默认1间）\n已有信息（如宾客姓名、入住日期）直接复用，不重复询问。\n第四步：全部信息收集完毕后，输出确认摘要：\n\U0001F4CB 预订信息确认\n· 宾客姓名：[姓名]\n· 手机号码：[号码]\n\
            · 入住：[日期] → 离店：[日期]（共[n]晚）\n· 房型：[房型名称]（代码：[代码]）\n· 预订间数：[n]间\n· 房价：[若实时房态数据返回明确价格，写“¥[单价]/晚，预估总价¥[总价]（以小途乐订待支付页面为准）”；若未返回价格，写“系统未返回实时价格，以小途乐订小程序待支付页面显示金额为准”]\n\
            以上信息是否正确？请回复「确认预订」；如果客人回复「正确」「好的」「好」「对」「是的」「没问题」「可以」「确认」「行」「没错」「嗯」「嗯嗯」「OK」「ok」等肯定确认语，也视为确认预订，系统将为您生成预订流水编号。\n\
            第五步：客人回复「确认预订」「正确」「好的」「好」「对」「是的」「没问题」「可以」「确认」「行」「没错」「嗯」「嗯嗯」「OK」「ok」等肯定确认语后，必须按以下模板输出（将[8位数字]替换为基于入住日期和房型生成的合理数字，如3300018976）：\n\
            ✅ 预订申请已提交！流水编号：**WCP-[8位数字]**\n订单已在系统中生成，无需重新填写信息。\n支付金额：[若实时房态数据返回明确价格，写“预估¥[总价]，最终以小途乐订待支付页面为准”；若未返回价格，写“以小途乐订小程序待支付页面显示金额为准”]\n\
            请按以下步骤完成支付：\n1. 扫描下方二维码，打开「小途乐订」小程序\n2. 点击底部「我的」→「我的订单」→「待支付」\n3. 找到流水编号 WCP-[8位数字]，点击「立即支付」\n4. 演示账户含 ¥20,000\
            \ 虚拟余额，确认金额后完成支付\n![扫码打开小途乐订小程序](https://cdn.jsdelivr.net/gh/zengtao227/lyp-wentucup-2026@main/Image_20260514154539_914_361.png)\n\
            支付完成后请告诉我，如需帮助请致电前台：0750-662-9888\n\n## 确认语强制规则\n如果用户当前只回复“确认预订”“正确”“好的”“好”“对”“是的”“没问题”“可以”“确认”“行”“没错”“嗯”“嗯嗯”“OK”“ok”中的任意一种，必须视为确认预订，直接输出第五步支付引导模板和二维码。不得继续询问“是否确认”，不得回答知识库内容。\n\
            \n## 严禁\n严禁说：\"预订成功\"、\"已锁定房间\"、\"短信已发送\"、\"凭证已生成\"。\n客人说\"已支付\"后，确认语气，提醒在小程序查看支付凭证，不宣称支付已核实或房间已锁定。\n\n确认预订后的回复必须包含上方二维码Markdown图片，图片地址必须使用：https://cdn.jsdelivr.net/gh/zengtao227/lyp-wentucup-2026@main/Image_20260514154539_914_361.png\n\
            确认预订后的回复不得编造房费、含早、周末价、短信发送、预订成功、已锁定房间、电子凭证或任何非 0750-662-9888 的电话号码。只有「实时房态数据」明确返回价格时，才可以输出对应房价；否则必须说明价格以小途乐订待支付页面显示金额为准。\n\
            前台电话：0750-662-9888"
        selected: false
        title: 客房预订
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776900001000'
      position:
        x: 1238
        y: 1260
      positionAbsolute:
        x: 1238
        y: 1260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776900001000.text#}}'
        selected: false
        title: 客房预订回复
        type: answer
        variables: []
      height: 103
      id: '1776900002000'
      position:
        x: 1540
        y: 1260
      positionAbsolute:
        x: 1540
        y: 1260
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Built-in parameters for large language models
            ja_JP: Built-in parameters for large language models
            pt_BR: Built-in parameters for large language models
            zh_Hans: Built-in parameters for large language models
          label:
            en_US: teamId
            ja_JP: teamId
            pt_BR: teamId
            zh_Hans: teamId
          llm_description: Built-in parameters for large language models
          max: null
          min: null
          name: teamId
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Check In Date，provided in ISO-8601 format
            ja_JP: Check In Date，provided in ISO-8601 format
            pt_BR: Check In Date，provided in ISO-8601 format
            zh_Hans: Check In Date，provided in ISO-8601 format
          label:
            en_US: checkInDate
            ja_JP: checkInDate
            pt_BR: checkInDate
            zh_Hans: checkInDate
          llm_description: Check In Date，provided in ISO-8601 format
          max: null
          min: null
          name: checkInDate
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Check Out Date，provided in ISO-8601 format
            ja_JP: Check Out Date，provided in ISO-8601 format
            pt_BR: Check Out Date，provided in ISO-8601 format
            zh_Hans: Check Out Date，provided in ISO-8601 format
          label:
            en_US: checkOutDate
            ja_JP: checkOutDate
            pt_BR: checkOutDate
            zh_Hans: checkOutDate
          llm_description: Check Out Date，provided in ISO-8601 format
          max: null
          min: null
          name: checkOutDate
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          checkInDate: ''
          checkOutDate: ''
          teamId: ''
        provider_id: hotel-booking
        provider_name: 酒店客房预订
        provider_type: mcp
        selected: false
        title: getAvailableRoomsByDate
        tool_configurations: {}
        tool_description: 获取可预订的房型、数量以及房价
        tool_label: getAvailableRoomsByDate
        tool_name: getAvailableRoomsByDate
        tool_node_version: '2'
        tool_parameters:
          teamId:
            type: constant
            value: 234556
        type: tool
      height: 84
      id: '1778843661327'
      position:
        x: 936
        y: 1201.5
      positionAbsolute:
        x: 936
        y: 1201.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      selected: false
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: '%Y-%m-%d %H:%M:%S'
          form: form
          human_description:
            en_US: Time format in strftime standard.
            ja_JP: Time format in strftime standard.
            pt_BR: Time format in strftime standard.
            zh_Hans: strftime 标准的时间格式。
          label:
            en_US: Format
            ja_JP: Format
            pt_BR: Format
            zh_Hans: 格式
          llm_description: null
          max: null
          min: null
          name: format
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: UTC
          form: form
          human_description:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          label:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          llm_description: null
          max: null
          min: null
          name: timezone
          options:
          - icon: null
            label:
              en_US: UTC
              ja_JP: UTC
              pt_BR: UTC
              zh_Hans: UTC
            value: UTC
          - icon: null
            label:
              en_US: America/New_York
              ja_JP: America/New_York
              pt_BR: America/New_York
              zh_Hans: 美洲/纽约
            value: America/New_York
          - icon: null
            label:
              en_US: America/Los_Angeles
              ja_JP: America/Los_Angeles
              pt_BR: America/Los_Angeles
              zh_Hans: 美洲/洛杉矶
            value: America/Los_Angeles
          - icon: null
            label:
              en_US: America/Chicago
              ja_JP: America/Chicago
              pt_BR: America/Chicago
              zh_Hans: 美洲/芝加哥
            value: America/Chicago
          - icon: null
            label:
              en_US: America/Sao_Paulo
              ja_JP: America/Sao_Paulo
              pt_BR: América/São Paulo
              zh_Hans: 美洲/圣保罗
            value: America/Sao_Paulo
          - icon: null
            label:
              en_US: Asia/Shanghai
              ja_JP: Asia/Shanghai
              pt_BR: Asia/Shanghai
              zh_Hans: 亚洲/上海
            value: Asia/Shanghai
          - icon: null
            label:
              en_US: Asia/Ho_Chi_Minh
              ja_JP: Asia/Ho_Chi_Minh
              pt_BR: Ásia/Ho Chi Minh
              zh_Hans: 亚洲/胡志明市
            value: Asia/Ho_Chi_Minh
          - icon: null
            label:
              en_US: Asia/Tokyo
              ja_JP: Asia/Tokyo
              pt_BR: Asia/Tokyo
              zh_Hans: 亚洲/东京
            value: Asia/Tokyo
          - icon: null
            label:
              en_US: Asia/Dubai
              ja_JP: Asia/Dubai
              pt_BR: Asia/Dubai
              zh_Hans: 亚洲/迪拜
            value: Asia/Dubai
          - icon: null
            label:
              en_US: Asia/Kolkata
              ja_JP: Asia/Kolkata
              pt_BR: Asia/Kolkata
              zh_Hans: 亚洲/加尔各答
            value: Asia/Kolkata
          - icon: null
            label:
              en_US: Asia/Seoul
              ja_JP: Asia/Seoul
              pt_BR: Asia/Seoul
              zh_Hans: 亚洲/首尔
            value: Asia/Seoul
          - icon: null
            label:
              en_US: Asia/Singapore
              ja_JP: Asia/Singapore
              pt_BR: Asia/Singapore
              zh_Hans: 亚洲/新加坡
            value: Asia/Singapore
          - icon: null
            label:
              en_US: Europe/London
              ja_JP: Europe/London
              pt_BR: Europe/London
              zh_Hans: 欧洲/伦敦
            value: Europe/London
          - icon: null
            label:
              en_US: Europe/Berlin
              ja_JP: Europe/Berlin
              pt_BR: Europe/Berlin
              zh_Hans: 欧洲/柏林
            value: Europe/Berlin
          - icon: null
            label:
              en_US: Europe/Moscow
              ja_JP: Europe/Moscow
              pt_BR: Europe/Moscow
              zh_Hans: 欧洲/莫斯科
            value: Europe/Moscow
          - icon: null
            label:
              en_US: Australia/Sydney
              ja_JP: Australia/Sydney
              pt_BR: Australia/Sydney
              zh_Hans: 澳大利亚/悉尼
            value: Australia/Sydney
          - icon: null
            label:
              en_US: Pacific/Auckland
              ja_JP: Pacific/Auckland
              pt_BR: Pacific/Auckland
              zh_Hans: 太平洋/奥克兰
            value: Pacific/Auckland
          - icon: null
            label:
              en_US: Africa/Cairo
              ja_JP: Africa/Cairo
              pt_BR: Africa/Cairo
              zh_Hans: 非洲/开罗
            value: Africa/Cairo
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          format: ''
          timezone: ''
        provider_id: time
        provider_name: time
        provider_type: builtin
        selected: false
        title: 获取当前时间
        tool_configurations:
          format:
            type: mixed
            value: '%Y-%m-%d %H:%M:%S %A'
          timezone:
            type: constant
            value: Asia/Shanghai
        tool_description: 一个用于获取当前时间的工具。
        tool_label: 获取当前时间
        tool_name: current_time
        tool_node_version: '2'
        tool_parameters: {}
        type: tool
      height: 114
      id: '1779049137062'
      position:
        x: 634
        y: 1201.5
      positionAbsolute:
        x: 634
        y: 1201.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -137.85874241993872
      y: -788.0847730158307
      zoom: 0.8275474591732909
  rag_pipeline_variables: []
