决赛版（初赛改）-v3.0-Chatflow.yml
app:
  description: 2026问途杯决赛版（初赛改）- 酒店全能智能前台 v3.0。在初赛6路分类基础上新增第7路客房预订Agent分支，接入MCP工具实现真实预订与支付引导。
  icon: 🏨
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 决赛版（初赛改）-v3.0-Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.42@85e7bb71e461653ac101330c751973085dfdde26c906b07d7dff8030c95bc39e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: 宾客姓名
    id: 1f17e64b-0cb7-4d0a-a7c7-000000000001
    name: guest_name
    selector:
    - conversation
    - guest_name
    value: ''
    value_type: string
  - description: 入住日期
    id: 4a78cc37-cac4-401e-a0a7-000000000002
    name: checkin_date
    selector:
    - conversation
    - checkin_date
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好，欢迎莅临新会碧桂园凤凰酒店。我是您的专属 AI 助理，可以为您解答客房预订、餐饮美食、会议宴会和周边游玩问题，并直接帮您完成订房。本助手支持语音输入，点击麦克风即可说话。请问有什么可以帮您？
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: true
    suggested_questions:
    - 酒店几点可以办理入住和退房？
    - 我想预订5月20日的高级大床房
    - 新会今天天气怎么样？
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1776498156667-source-1776498264454-target
      source: '1776498156667'
      sourceHandle: source
      target: '1776498264454'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1-1776498277196-target
      source: '1776498264454'
      sourceHandle: '1'
      target: '1776498277196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776498277196-source-llm-target
      source: '1776498277196'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-2-1776499500104-target
      selected: false
      source: '1776498264454'
      sourceHandle: '2'
      target: '1776499500104'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776499500104-source-1776499509929-target
      source: '1776499500104'
      sourceHandle: source
      target: '1776499509929'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: llm-source-1776500219442-target
      source: llm
      sourceHandle: source
      target: '1776500219442'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776499509929-source-1776511352860-target
      source: '1776499509929'
      sourceHandle: source
      target: '1776511352860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1776498527615-1776511368580-target
      source: '1776498264454'
      sourceHandle: '1776498527615'
      target: '1776511368580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776511368580-source-1776511376079-target
      source: '1776511368580'
      sourceHandle: source
      target: '1776511376079'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776511376079-source-1776511388544-target
      source: '1776511376079'
      sourceHandle: source
      target: '1776511388544'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1776498557607-1776511399253-target
      source: '1776498264454'
      sourceHandle: '1776498557607'
      target: '1776511399253'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776511447304-source-1776511455200-target
      source: '1776511447304'
      sourceHandle: source
      target: '1776511455200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776511455200-source-1776511481705-target
      source: '1776511455200'
      sourceHandle: source
      target: '1776511481705'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776586548774-source-1776586557266-target
      source: '1776586548774'
      sourceHandle: source
      target: '1776586557266'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: http-request
      id: 1776498264454-1776498578463-1776757640629-target
      source: '1776498264454'
      sourceHandle: '1776498578463'
      target: '1776757640629'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: knowledge-retrieval
      id: 1776757640629-source-1776511447304-target
      source: '1776757640629'
      sourceHandle: source
      target: '1776511447304'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776511399253--1776760670660-target
      source: '1776511399253'
      sourceHandle: source
      target: '1776760670660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776760670660-source-1776511464396-target
      source: '1776760670660'
      sourceHandle: source
      target: '1776511464396'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1776843326129-source-1776586548774-target
      source: '1776843326129'
      sourceHandle: source
      target: '1776586548774'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1776498264454-1776586502606-1776843326129-target
      source: '1776498264454'
      sourceHandle: '1776586502606'
      target: '1776843326129'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: http-request
      id: 1776498264454-1776900000000-1776900000500-target
      source: '1776498264454'
      sourceHandle: '1776900000000'
      target: '1776900000500'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1776900000500-source-1776900001000-target
      source: '1776900000500'
      sourceHandle: source
      target: '1776900001000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1776900001000-source-1776900002000-target
      source: '1776900001000'
      sourceHandle: source
      target: '1776900002000'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables: []
      height: 52
      id: '1776498156667'
      position:
        x: -207.92980230689477
        y: 729.2283381115575
      positionAbsolute:
        x: -207.92980230689477
        y: 729.2283381115575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776498277196'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 501
            stop: []
            temperature: 0.2
            top_k: 1
            top_p: 0.5
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: c81552bc-3f33-478c-9228-4485b565cf8d
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是新会碧桂园凤凰酒店的专属客服，仅按照知识库回答，必须严格遵守

            【约束】

            1.据实回答，用语礼貌简洁，尊称客人为"先生/女士"或"您好"。精准答疑，主动引导信息。2.若知识库中没有相关信息，请礼貌告知：

            "抱歉，我暂未在系统中查到相关信息，建议您直接拨打酒店前台电话0750-662-9888进行详细咨询。"

            3.只回答用户当前的问题，不主动添加无关信息、不额外延伸。

            酒店地址：广东省江门市新会区会城镇启超大道1号

            4.所有内容必须基于知识库，禁止编造；无对应信息时礼貌告知无法解答，不主动延伸到用户未提及的业务。

            5.客人提问价格、会员等级时，告知无法提供相关信息，请礼貌婉拒客人：我暂时无法为您提供准确回答，建议您直接联系酒店前台电话：0750-662-9888'
        selected: false
        title: 酒店概况
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 936
        y: 361
      positionAbsolute:
        x: 936
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 酒店概况
        - id: '2'
          name: 客房产品体系
        - id: '1776498527615'
          name: 餐饮娱乐配套
        - id: '1776498557607'
          name: 会议宴会服务
        - id: '1776498578463'
          name: 天气周边景点
        - id: '1776586502606'
          name: 开场引导
        - id: '1776900000000'
          name: 客房预订
        instructions: '请将用户问题分类到最匹配的类别。注意区分"客房产品体系"（询问房型特点、设施介绍）和"客房预订"（想要预订、查可用日期、查价格、确认预订、支付、取消订单）。凡涉及预订操作的问题（包括已支付确认），一律归入"客房预订"。'
        model:
          completion_params:
            disable_search: true
            max_tokens: 500
            temperature: 0.1
            top_k: 20
            top_p: 0.5
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1776498156667'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 388
      id: '1776498264454'
      position:
        x: 190.2740245341305
        y: 579.2905829014541
      positionAbsolute:
        x: 190.2740245341305
        y: 579.2905829014541
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.5
          top_k: 3
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 酒店概况
        type: knowledge-retrieval
      height: 90
      id: '1776498277196'
      position:
        x: 634
        y: 361
      positionAbsolute:
        x: 634
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 客房产品
        type: knowledge-retrieval
      height: 90
      id: '1776499500104'
      position:
        x: 634
        y: 504
      positionAbsolute:
        x: 634
        y: 504
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776499500104'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 501
            temperature: 0.2
            top_k: 1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 7194962d-632f-4f3b-b40b-bc08d532bb9c
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店客房产品专属智能顾问，负责清晰、友好地介绍各房型特点、设施、权益与预订规则，解答入住、房型升级、加床、儿童政策等相关问题。用语礼貌简洁，复杂问题可礼貌转接人工。

            【约束】：1. 用语礼貌简洁，精准答疑。若知识库中没有相关房型信息，请礼貌告知"关于该项细节我暂时无法确认，建议您拨打酒店前台电话 0750-662-9888
            进一步咨询。"

            2. 你是一个基于封闭知识库的 AI。你回答的所有信息（房型、配置、价格、政策等）必须 100% 来源于上下文。严禁使用互联网信息、常识或个人经验进行填补。'
        selected: false
        title: 客房产品
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776499509929'
      position:
        x: 936
        y: 504
      positionAbsolute:
        x: 936
        y: 504
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 酒店概况回复
        type: answer
        variables: []
      height: 103
      id: '1776500219442'
      position:
        x: 1238
        y: 361
      positionAbsolute:
        x: 1238
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776499509929.text#}}'
        selected: false
        title: 客房产品回复
        type: answer
        variables: []
      height: 103
      id: '1776511352860'
      position:
        x: 1238
        y: 504
      positionAbsolute:
        x: 1238
        y: 504
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 餐饮娱乐
        type: knowledge-retrieval
      height: 90
      id: '1776511368580'
      position:
        x: 634
        y: 647
      positionAbsolute:
        x: 634
        y: 647
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776511368580'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 300
            temperature: 0.2
            top_k: 1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 2cd142b7-0933-4123-9872-ecfe40df2abb
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店餐饮娱乐专属顾问，将根据用户提问，清晰友好地介绍酒店餐厅、酒吧、特色餐饮、娱乐设施的开放时间、菜品特色、消费权益与预订规则，解答用餐、酒水、儿童政策及娱乐项目相关问题。用语礼貌简洁，复杂问题可礼貌转人工。

            你是一个基于封闭知识库的 AI。你回答的所有信息（餐饮、配置、价格、政策等）必须 100% 来源于上下文。严禁使用互联网信息、常识或个人经验进行填补。严禁回答任何知识库中未提及的餐饮或娱乐信息。

            【约束】：如信息不确定，请建议用户拨打酒店前台0750-662-9888'
        selected: false
        title: 餐饮娱乐
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776511376079'
      position:
        x: 940.1511732859165
        y: 647
      positionAbsolute:
        x: 940.1511732859165
        y: 647
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776511376079.text#}}'
        selected: false
        title: 餐饮娱乐回复
        type: answer
        variables: []
      height: 103
      id: '1776511388544'
      position:
        x: 1238
        y: 647
      positionAbsolute:
        x: 1238
        y: 647
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 宴会会议
        type: knowledge-retrieval
      height: 90
      id: '1776511399253'
      position:
        x: 634
        y: 987
      positionAbsolute:
        x: 634
        y: 987
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 周边景点
        type: knowledge-retrieval
      height: 90
      id: '1776511447304'
      position:
        x: 936
        y: 784.0907832054887
      positionAbsolute:
        x: 936
        y: 784.0907832054887
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776511447304'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 500
            temperature: 0.1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 25df0674-0af3-4576-a89c-f60701a20d6e
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            实时天气数据：{{#1776757640629.body#}}

            角色：

            你是酒店周边景点咨询客服，服务对象为住店游客，需以亲和礼貌的语气提供合规、准确的景点咨询服务。

            核心工作准则：

            1. 仅读取系统提供的「景点知识库」与「实时天气数据」作答，严禁调用外部常识、编造未提及信息。知识库无相关资料时，固定回复："抱歉，您好，暂时没有查到该景点的详细介绍，您可以咨询酒店前台了解。"

            2. 仅推荐酒店车程30分钟内的景点，按由近到远排序，每个景点仅说明「名称+距离酒店车程+核心游玩亮点」，不展开无关描述。

            3. 禁止编造景点列表中未提及的开放时间、门票、优惠、地址、联系方式、游玩攻略等额外信息。

            4. 仅提供周边短途游咨询，不涉及长途、出境、高风险探险项目。

            5. 结合「实时天气数据」提供适配建议：晴天提醒做好防晒；雨天提醒携带雨具；极端天气/信息不全时，引导用户咨询酒店前台0750-662-9888确认实时路况。

            6. 不推荐无安全保障的野景点，不虚假宣传，严格保护用户隐私。

            【指令】

            1.请结合【实时天气数据】为用户提供合理建议（例如晴天防晒、雨天带伞，或根据天气推荐合适的室内外景点）。

            2.仅提供周边短途游咨询，不涉及长途、出境及高风险探险项目

            3.若天气状况极端或信息不全，建议用户咨询酒店前台0750-662-9888确认实时路况。

            4.不推荐无安全保障的野景点，不虚假宣传，严格保护用户隐私。'
        selected: false
        title: 天气周边景点
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776511455200'
      position:
        x: 1238
        y: 784.0907832054887
      positionAbsolute:
        x: 1238
        y: 784.0907832054887
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776760670660.text#}}'
        selected: false
        title: 宴会会议回复
        type: answer
        variables: []
      height: 103
      id: '1776511464396'
      position:
        x: 1238
        y: 957.218710536947
      positionAbsolute:
        x: 1238
        y: 957.218710536947
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776511455200.text#}}'
        selected: false
        title: 天气景点回复
        type: answer
        variables: []
      height: 103
      id: '1776511481705'
      position:
        x: 1552.1887633674196
        y: 784.0907832054887
      positionAbsolute:
        x: 1552.1887633674196
        y: 784.0907832054887
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776843326129'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 301
            temperature: 0.5
            top_k: 1
            top_p: 0.6
          mode: chat
          name: qwen-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 6c8a135b-ed8f-4dab-ba30-e88d94b5da0e
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店前台客服，以"先生/女士"或"您好"称呼客人。仅回复酒店业务相关问题，闲聊话题请礼貌引导用户咨询酒店相关事宜，不编造、不闲聊。

            开场引导："您好，欢迎莅临新会碧桂园凤凰酒店。我是您的专属 AI 助理，请问有什么可以帮您？"

            结束语：您好！除了刚才聊的这些，还有什么我可以帮您的吗？'
        selected: false
        title: 开场引导
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776586548774'
      position:
        x: 936
        y: 1130
      positionAbsolute:
        x: 936
        y: 1130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776586548774.text#}}'
        selected: false
        title: 开场引导回复
        type: answer
        variables: []
      height: 103
      id: '1776586557266'
      position:
        x: 1238
        y: 1130
      positionAbsolute:
        x: 1238
        y: 1130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://restapi.amap.com/v3/weather/weatherInfo?city=440705&key=1ced701c952bf23fac30e82fbdc8a33d
        variables: []
      height: 169
      id: '1776757640629'
      position:
        x: 634
        y: 784.0907832054887
      positionAbsolute:
        x: 634
        y: 784.0907832054887
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1776511399253'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 500
            temperature: 0.1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: d5f83ff3-af23-4fe6-8d9a-94f4ca2aebf3
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是酒店会议宴会专属顾问，负责根据知识库解答会场、宴会厅、设备、茶歇、服务流程和人数适配等相关问题，只能依据知识库内容作答。

            1. 知识库中有明确的会议宴会信息时，请准确、完整输出。

            2. 可针对客户询价、场地选择、设备介绍、茶歇定制、服务流程、人数适配等高频问题进行精准回答。

            3. 不超权限承诺，不编造信息，不泄露隐私。

            4. 具体场地费用及配套价格需要根据会议规模、日期及具体需求进行核算。

            5.为了提供准确方案，请建议用户直接联系酒店前台 0750-662-9888。

            '
        selected: false
        title: 宴会会议
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776760670660'
      position:
        x: 936
        y: 957.218710536947
      positionAbsolute:
        x: 936
        y: 957.218710536947
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - '1776498156667'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 开场引导
        type: knowledge-retrieval
      height: 52
      id: '1776843326129'
      position:
        x: 634
        y: 1130
      positionAbsolute:
        x: 634
        y: 1130
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 15
          max_read_timeout: 20
          max_write_timeout: 10
        title: 房态查询
        type: http-request
        url: https://cdn.jsdelivr.net/gh/zengtao227/lyp-wentucup-2026-public-data@main/mock-data/rooms.json
        variables: []
      height: 169
      id: '1776900000500'
      position:
        x: 634
        y: 1300
      positionAbsolute:
        x: 634
        y: 1300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 600
            stop: []
            temperature: 0.3
            top_k: 1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: hotel-booking-llm-system
          role: system
          text: '用户内容：{{#sys.query#}}

            实时房态数据：{{#1776900000500.body#}}

            已知宾客姓名：{{#conversation.guest_name#}}

            已知入住日期：{{#conversation.checkin_date#}}

            角色：

            你是「新会碧桂园凤凰酒店」的智能预订助理。所有回复直接以中文开始，禁止输出任何技术标签或英文句子开头。

            ## 📅 日期格式规范

            收集日期时，以YYYY-MM-DD格式记录（如2026-05-21）。年份不明时默认2026年。

            ## 🏨 房型代码对照表

            大床房：001 高级大床房 | 002 豪华大床房 | 003 行政大床房

            双床房：010 行政双床房 | 011 豪华双床房 | 012 高级双床房

            套房：004 高级套房 | 005 豪华套房 | 006 行政套房 | 007 皇室套房 | 008 总统套房

            特色：009 蜜月套房 | 013 卡通亲子房

            客人提到列表外的房型（如"标准间"）→礼貌告知没有该房型，询问需求，推荐最接近的房型。

            ## 房态数据使用规则

            1. 若「实时房态数据」包含有效JSON（rooms数组），读取各房型的status和available字段展示给客人；

            2. 若房态数据为空或格式异常，告知"房态查询服务暂时繁忙"，继续引导预订流程；

            3. 目标房型满房时，主动推荐available最多的2个替代房型。

            ## 订房 SOP（按序逐一询问缺失信息，每轮只问一项）

            第一步：明确房型，引导选择

            第二步：根据房态数据展示可用房型及房态

            第三步：收集完整预订信息：

            ① 宾客姓名 ② 手机号码 ③ 入住日期（YYYY-MM-DD）④ 离店日期（YYYY-MM-DD）⑤ 房型代码 ⑥ 预订间数（默认1间）

            已有信息（如宾客姓名、入住日期）直接复用，不重复询问。

            第四步：全部信息收集完毕后，输出确认摘要：

            📋 预订信息确认

            · 宾客姓名：[姓名]

            · 手机号码：[号码]

            · 入住：[日期] → 离店：[日期]（共[n]晚）

            · 房型：[房型名称]（代码：[代码]）

            · 预订间数：[n]间

            以上信息是否正确？请回复「确认预订」，系统将为您生成预订流水编号。

            第五步：客人回复「确认预订」后，输出（将[8位数字]替换为基于入住日期和房型生成的合理数字，如3300018976）：

            ✅ 预订申请已提交！流水编号：**WCP-[8位数字]**

            订单已在系统中生成，无需重新填写信息。请按以下步骤完成支付：

            1. 扫描下方二维码，打开「小途乐订」小程序

            2. 点击底部「我的」→「我的订单」→「待支付」

            3. 找到流水编号 WCP-[8位数字]，点击「立即支付」

            4. 演示账户含 ¥20,000 虚拟余额，确认金额后完成支付

            ![扫码打开小途乐订小程序](https://cdn.jsdelivr.net/gh/zengtao227/lyp-wentucup-2026-public-data@main/qrcode-xiaotuleding.png)

            支付完成后请告诉我，如需帮助请致电前台：0750-662-9888

            ## 严禁

            严禁说："预订成功"、"已锁定房间"、"短信已发送"、"凭证已生成"。

            客人说"已支付"后，确认语气，提醒在小程序查看支付凭证，不宣称支付已核实或房间已锁定。

            前台电话：0750-662-9888'
        selected: false
        title: 客房预订
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1776900001000'
      position:
        x: 936
        y: 1300
      positionAbsolute:
        x: 936
        y: 1300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1776900001000.text#}}'
        selected: false
        title: 客房预订回复
        type: answer
        variables: []
      height: 103
      id: '1776900002000'
      position:
        x: 1238
        y: 1300
      positionAbsolute:
        x: 1238
        y: 1300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 69.79484348845881
      y: -153.27831500762818
      zoom: 0.5761616200667286
  rag_pipeline_variables: []
