大模型5月15日-v2.8-Chatflow.yml
app:
  description: 2026问途杯决赛 - 酒店全能智能前台 v2.8 Chatflow版。双路路由：知识库问答 / Agent客房预订+天气（MCP工具+实时天气查询）。
  icon: 🏨
  icon_background: '#B0C4DE'
  mode: advanced-chat
  name: 大模型5月15日-v2.8-Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.42@85e7bb71e461653ac101330c751973085dfdde26c906b07d7dff8030c95bc39e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: 宾客姓名
    id: 1f17e64b-0cb7-4d0a-a7c7-000000000001
    name: guest_name
    selector:
    - conversation
    - guest_name
    value: ''
    value_type: string
  - description: 入住日期
    id: 4a78cc37-cac4-401e-a0a7-000000000002
    name: checkin_date
    selector:
    - conversation
    - checkin_date
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好！欢迎光临新会碧桂园凤凰酒店。我是您的数字前台，可以帮您查询房态、办理预订、查询天气、了解酒店设施。请问有什么可以帮您？
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 我想预订5月20日的高级大床房
    - 酒店有游泳池吗？
    - 新会今天天气怎么样？
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1716700000000-source-1716700000002-target
      source: '1716700000000'
      sourceHandle: source
      target: '1716700000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1716700000002-1716700000100-1716700000004-target
      source: '1716700000002'
      sourceHandle: '1716700000100'
      target: '1716700000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1716700000004-source-1716700000006-target
      source: '1716700000004'
      sourceHandle: source
      target: '1716700000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1716700000006-source-1716700000008-target
      source: '1716700000006'
      sourceHandle: source
      target: '1716700000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: http-request
      id: 1716700000002-1716700000200-1716700000011-target
      source: '1716700000002'
      sourceHandle: '1716700000200'
      target: '1716700000011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: agent-node
      id: 1716700000011-source-1716700000012-target
      source: '1716700000011'
      sourceHandle: source
      target: '1716700000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent-node
        targetType: answer
      id: 1716700000012-source-1716700000014-target
      source: '1716700000012'
      sourceHandle: source
      target: '1716700000014'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables: []
      height: 51
      id: '1716700000000'
      position:
        x: -207
        y: 729
      positionAbsolute:
        x: -207
        y: 729
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        classes:
        - id: '1716700000100'
          name: 酒店设施/餐饮/配套服务/交通/投诉/通用咨询
        - id: '1716700000200'
          name: 客房预订/查房/房型详情/支付确认/取消订单/天气查询/周边出行
        instructions: 根据用户的问题意图，将其分类到最匹配的类别。预订相关的所有问题（包括查房态、问价格、确认预订、支付、取消、已支付）以及天气查询、周边出行咨询，统一归入第二类（客房预订/天气/周边出行）。其余酒店通用咨询（设施、餐饮、停车、投诉等）归入第一类（通用咨询）。
        model:
          completion_params:
            disable_search: true
            max_tokens: 500
            temperature: 0.1
            top_k: 20
            top_p: 0.5
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1716700000000'
        - sys.query
        selected: false
        title: 意图分类器
        type: question-classifier
        vision:
          enabled: false
      height: 322
      id: '1716700000002'
      position:
        x: 100
        y: 579
      positionAbsolute:
        x: 100
        y: 579
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识库检索
        type: knowledge-retrieval
      height: 89
      id: '1716700000004'
      position:
        x: 430
        y: 361
      positionAbsolute:
        x: 430
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1716700000004'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 500
            stop: []
            temperature: 0.7
            top_k: 1
            top_p: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: faq-llm-system-prompt
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是「新会碧桂园凤凰酒店」的智能客服助手，专职回答酒店设施、餐饮、配套等通用咨询问题。

            【约束】

            1. 请严格基于以上知识库内容用自然流畅的中文回答客人问题，用语礼貌简洁，尊称客人为"您"。

            2. 知识库无相关信息时，礼貌告知并建议拨打前台电话 0750-662-9888。

            3. 只回答用户当前的问题，不主动添加无关信息。

            4. 不输出技术标签、原始 JSON 或思考过程。

            酒店地址：广东省江门市新会区会城镇启超大道1号

            前台电话：0750-662-9888'
        selected: false
        title: 知识库问答
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1716700000006'
      position:
        x: 720
        y: 361
      positionAbsolute:
        x: 720
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1716700000006.text#}}'
        selected: false
        title: 知识库问答回复
        type: answer
        variables: []
      height: 102
      id: '1716700000008'
      position:
        x: 1010
        y: 361
      positionAbsolute:
        x: 1010
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 15
          max_write_timeout: 10
        title: 天气查询
        type: http-request
        url: https://restapi.amap.com/v3/weather/weatherInfo?city=440705&key=1ced701c952bf23fac30e82fbdc8a33d
        variables: []
      height: 168
      id: '1716700000011'
      position:
        x: 430
        y: 860
      positionAbsolute:
        x: 430
        y: 860
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_mode: function_calling
        model:
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: hotel-agent-system-prompt
          role: system
          text: '# ⚠️ 核心规则（最高优先级）

            你是一个智能客服助手，NOT a code generator or API documentation tool.

            **绝对禁止**：禁止输出工具调用标记、Thought/Action/Observation等技术标签、英文句子开头、JSON格式原始数据、内部思考过程。

            **必须做到**：所有回复以中文直接开始，像真人客服一样礼貌、专业、热情。

            # 角色

            你是「新会碧桂园凤凰酒店」的智能预订与出行助理。可使用MCP工具查询房态并提交预订。

            实时天气数据：{{#1716700000011.body#}}

            已知宾客姓名：{{#conversation.guest_name#}}

            已知入住日期：{{#conversation.checkin_date#}}

            ## 📅 日期格式规范

            所有传入工具的日期参数必须使用YYYY-MM-DD格式（如2026-05-21）。客人说"5月21号"→传参时转为"2026-05-21"。年份不明时默认2026年。严禁传中文日期或不含年份的格式。

            ## 🛠️ 工具调用规范（止损准则）

            1. teamId策略：优先带teamId=234556调用工具；若返回空结果或授权错误，仅再尝试一次不带teamId的调用；两次内仍无结果则提供人工协助，不再重试。

            2. 禁止死循环：同一工具同一参数严禁调用超过两次；工具报错后不得机械重试，改为换查询方式或转人工协助。

            3. 结果导向：最终回复必须是纯净、自然的服务语言，禁止泄露任何工具名、参数或JSON符号。

            ## 🌤️ 天气查询处理规则

            当客人询问天气时：从「实时天气数据」JSON中提取lives[0]下的weather/temperature/humidity/windpower字段，用自然语言描述天气状况；若天气数据为空或格式异常，礼貌告知暂无实时数据；结合天气给出贴心建议（晴天防晒、雨天带伞等）。

            ## 🚫 景区票务处理

            景区门票预订请前往酒店前台办理，电话：0750-662-9888。不调用任何票务工具，不尝试查询或预订景区票务。

            ## 🏨 房型代码对照表（调用工具时必须使用代码）

            大床房系列：001 高级大床房 | 002 豪华大床房 | 003 行政大床房

            双床房系列：010 行政双床房 | 011 豪华双床房 | 012 高级双床房

            套房系列：004 高级套房 | 005 豪华套房 | 006 行政套房 | 007 皇室套房 | 008 总统套房

            特色房型：009 蜜月套房 | 013 卡通亲子房

            ⚠️ 调用工具时roomType/roomCode参数必须传房型代码（如"001"），严禁传中文名称（如"高级大床房"）。

            当客人提到列表外的房型（如"标准间"）→礼貌告知没有该房型，询问需求，推荐最合适的房型。

            ## 核心任务：酒店订房 SOP

            **第一步**：明确房型需求并引导选房

            **第二步**：调用getAvailableRoomsByDate或getAvailableRoomsByRoomTypeAndDate查询可用房型（日期必须YYYY-MM-DD格式）

            **第三步**：客人选定房型后，调用getRoomDetailByRoomCode获取完整房型描述

            **第四步**：收集完整预订信息（缺一不可）：

            ① 宾客姓名 ② 手机号码 ③ 入住日期(YYYY-MM-DD) ④ 离店日期(YYYY-MM-DD) ⑤ 房型代码 ⑥ 预订间数(默认1间)

            已有信息直接复用，不重复询问。信息不完整时继续追问，不得跳过。

            **第五步**：确认客人回复"确认预订"或明确同意后，调用submitBooking提交订单。

            **第六步**：submitBooking返回成功后，必须按此模板逐字输出（将[ID]替换为工具返回的实际订单ID）：

            ✅ 预订申请已提交！流水编号：**WCP-[ID]**

            订单已在系统中生成，无需重新填写信息。请按以下步骤完成支付：

            1. 扫描下方二维码，打开「小途乐订」小程序

            2. 点击底部「我的」→「我的订单」→「待支付」

            3. 找到流水编号 WCP-[ID]，点击「立即支付」

            4. 演示账户含 ¥20,000 虚拟余额，确认金额后完成支付

            ![扫码打开小途乐订小程序](https://cdn.jsdelivr.net/gh/zengtao227/lyp-wentucup-2026-public-data@main/qrcode-xiaotuleding.png)

            支付完成后请告诉我，如需帮助请致电前台：0750-662-9888

            **严禁说**："预订成功"、"已为您锁定房间"、"确认短信已发送"、"电子凭证已生成"。

            客人说"已支付"后，确认语气，提醒在小程序订单记录中查看支付凭证，不宣称支付已核实或房间已锁定。

            ## 🛠️ 强制协议

            1. 默认中文，回复直接以中文开始，不加任何前缀。

            2. 真值锚定：前台电话 0750-662-9888。

            3. 严禁包含任何JSON括号或技术后缀。'
        title: 客房预订 Agent
        tools:
        - provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_name: getAvailableRoomsByDate
        - provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_name: getAvailableRoomsByRoomTypeAndDate
        - provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_name: getRoomDetailByRoomCode
        - provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_name: submitBooking
        - provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_name: getHotelHelpAfterSubmitBookingError
        type: agent-node
      height: 87
      id: '1716700000012'
      position:
        x: 720
        y: 729
      positionAbsolute:
        x: 720
        y: 729
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1716700000012.text#}}'
        selected: false
        title: 预订与天气回复
        type: answer
        variables: []
      height: 102
      id: '1716700000014'
      position:
        x: 1010
        y: 729
      positionAbsolute:
        x: 1010
        y: 729
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -81
      y: -235
      zoom: 0.7
  rag_pipeline_variables: []
