大模型5月14日-v2.7-Chatflow.yml
app:
  description: 2026问途杯决赛 - 酒店全能智能前台 v2.7 Chatflow版。意图分类三路路由：知识库问答/客房预订Agent(MCP)/景区转人工。
  icon: 🏨
  icon_background: '#B0C4DE'
  mode: advanced-chat
  name: 大模型5月14日-v2.7-Chatflow
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.42@85e7bb71e461653ac101330c751973085dfdde26c906b07d7dff8030c95bc39e
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: 宾客姓名
    id: 1f17e64b-0cb7-4d0a-a7c7-000000000001
    name: guest_name
    selector:
    - conversation
    - guest_name
    value: ''
    value_type: string
  - description: 入住日期
    id: 4a78cc37-cac4-401e-a0a7-000000000002
    name: checkin_date
    selector:
    - conversation
    - checkin_date
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好！欢迎光临新会碧桂园凤凰酒店。我是您的数字前台，可以帮您查询房态、办理预订、了解酒店设施。请问有什么可以帮您？
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 我想预订5月20日的高级大床房
    - 酒店有游泳池吗？
    - 酒店餐厅营业时间是？
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1716700000000-source-1716700000002-target
      source: '1716700000000'
      sourceHandle: source
      target: '1716700000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1716700000002-1716700000100-1716700000004-target
      source: '1716700000002'
      sourceHandle: '1716700000100'
      target: '1716700000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1716700000004-source-1716700000006-target
      source: '1716700000004'
      sourceHandle: source
      target: '1716700000006'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1716700000006-source-1716700000008-target
      source: '1716700000006'
      sourceHandle: source
      target: '1716700000008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: agent-node
      id: 1716700000002-1716700000200-1716700000010-target
      source: '1716700000002'
      sourceHandle: '1716700000200'
      target: '1716700000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: agent-node
        targetType: answer
      id: 1716700000010-source-1716700000012-target
      source: '1716700000010'
      sourceHandle: source
      target: '1716700000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1716700000002-1716700000300-1716700000014-target
      source: '1716700000002'
      sourceHandle: '1716700000300'
      target: '1716700000014'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables: []
      height: 51
      id: '1716700000000'
      position:
        x: -200
        y: 300
      positionAbsolute:
        x: -200
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        classes:
        - id: '1716700000100'
          name: 酒店设施/餐饮/配套服务/交通/投诉/通用咨询
        - id: '1716700000200'
          name: 客房预订/查房/房型详情/支付/取消订单/天气/周边出行
        - id: '1716700000300'
          name: 景区门票/景点票务/购票/景区游览
        instructions: 根据用户的问题意图，将其分类到最匹配的类别。预订相关的所有问题（包括查房态、问价格、确认预订、支付、取消）统一归入第二类（客房预订/查房/房型详情/支付/取消订单/天气/周边出行）。景区门票相关的所有问题归入第三类（景区门票/景点票务/购票/景区游览）。其余酒店咨询问题归入第一类（酒店设施/餐饮/配套服务/交通/投诉/通用咨询）。
        model:
          completion_params:
            disable_search: true
            max_tokens: 500
            stop: []
            temperature: 0.1
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1716700000000'
        - sys.query
        selected: false
        title: 意图分类器
        type: question-classifier
        vision:
          enabled: false
      height: 322
      id: '1716700000002'
      position:
        x: 100
        y: 200
      positionAbsolute:
        x: 100
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - b2578566-0fc1-4333-bf81-17441829b236
        - ee12d6ea-6f9b-4f35-ab9b-6a441d2b9f94
        - 44f95b96-185d-4593-b394-b1f307bcb6b4
        - 3b42c867-9fa9-4602-a4a6-da829cae6a78
        - a41f219c-9ea5-49b3-889a-da112feb49f0
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识库检索
        type: knowledge-retrieval
      height: 89
      id: '1716700000004'
      position:
        x: 420
        y: 80
      positionAbsolute:
        x: 420
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - '1716700000004'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            max_tokens: 500
            stop: []
            temperature: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: faq-llm-system-prompt
          role: system
          text: '用户内容：{{#sys.query#}}

            上下文：{{#context#}}

            角色：

            你是「新会碧桂园凤凰酒店」的智能客服助手，专职回答酒店设施、餐饮、配套等咨询问题。

            请严格基于以上知识库内容用自然流畅的中文回答客人问题。

            知识库无相关信息时，礼貌告知并建议拨打前台电话 0750-662-9888。

            不输出技术标签、原始 JSON 或思考过程。'
        selected: false
        title: 知识库问答
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1716700000006'
      position:
        x: 720
        y: 80
      positionAbsolute:
        x: 720
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1716700000006.text#}}'
        selected: false
        title: 知识库问答回复
        type: answer
        variables: []
      height: 102
      id: '1716700000008'
      position:
        x: 1020
        y: 80
      positionAbsolute:
        x: 1020
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        agent_mode: function_calling
        max_iteration: 5
        model:
          completion_params:
            stop: []
            temperature: 0.7
          mode: chat
          name: deepseek-v3
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: hotel-agent-system-prompt
          role: system
          text: "你是「新会碧桂园凤凰酒店」客房预订专员。teamId=234556。\n所有回复直接以中文开始，禁止输出\
            \ Thought/Action/Final Answer 等技术标签，不输出英文句子开头。\n\n## 日期格式（工具调用强制）\n工具日期参数一律用\
            \ YYYY-MM-DD（如 2026-05-21），默认年份 2026。严禁传中文日期（\"5月21日\"）或不含年份的格式。\n\n## teamId\
            \ 策略\n优先带 teamId=234556 调用工具；若明确返回空或授权失败，可仅再尝试一次无 teamId；两次内仍无结果则告知转人工，不再重试。\n\
            \n## 房型代码表（调用工具必须传代码，不传中文名称）\n大床房：001 高级大床房 | 002 豪华大床房 | 003 行政大床房\n双床房：010\
            \ 行政双床房 | 011 豪华双床房 | 012 高级双床房\n套房：004 高级套房 | 005 豪华套房 | 006 行政套房 | 007 皇室套房\
            \ | 008 总统套房\n特色：009 蜜月套房 | 013 卡通亲子房\n客人提到的房型不在列表中（如\"标准间\"）→ 礼貌告知没有该房型，询问需求，推荐最接近的房型。\n\
            \n## 订房 SOP\nStep1: 明确房型，引导选择\nStep2: 收集入住日期、离店日期后查询房态，调用 getAvailableRoomsByDate\
            \ 或 getAvailableRoomsByRoomTypeAndDate（传房型代码，传 YYYY-MM-DD 日期）\nStep3: 客人选定房型后，调用\
            \ getRoomDetailByRoomCode 展示详情（传房型代码）\nStep4: 下单前必须完整收集以下全部信息，缺一不可：\n  宾客姓名 |\
            \ 手机号码 | 入住日期(YYYY-MM-DD) | 离店日期(YYYY-MM-DD) | 房型代码 | 预订间数（默认1间）\nStep5: 客人确认后调用\
            \ submitBooking 提交订单（日期必须已转为 YYYY-MM-DD 格式）\nStep6: submitBooking 成功后，严格按以下模板逐字输出（将\
            \ [ID] 替换为工具返回的实际订单 ID）：\n\n\"✅ 预订申请已提交！流水编号：**WCP-[ID]**\n\n订单已在系统中生成，无需重新填写信息。请按以下步骤完成支付：\n\
            1. 扫描下方二维码，打开「小途乐订」小程序\n2. 点击底部「我的」→「我的订单」→「待支付」\n3. 找到流水编号 WCP-[ID]，点击「立即支付」\n\
            4. 演示账户含 ¥20,000 虚拟余额，确认金额后完成支付\n\n![扫码打开小途乐订小程序](https://cdn.jsdelivr.net/gh/zengtao227/lyp-wentucup-2026-public-data@main/qrcode-xiaotuleding.png)\n\
            \n支付完成后请告诉我，如需帮助请致电前台：0750-662-9888\"\n\n客人说\"已支付\"后确认语气，提醒查小程序订单记录，不宣称支付已核实或房间已锁定。\n\
            严禁说：\"预订成功\"、\"已锁定房间\"、\"短信已发送\"、\"凭证已生成\"。\n前台电话：0750-662-9888"
        selected: false
        title: 客房预订 Agent
        tools:
        - enabled: true
          provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_label: getAvailableRoomsByDate
          tool_name: getAvailableRoomsByDate
          tool_parameters: {}
        - enabled: true
          provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_label: getAvailableRoomsByRoomTypeAndDate
          tool_name: getAvailableRoomsByRoomTypeAndDate
          tool_parameters: {}
        - enabled: true
          provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_label: getRoomDetailByRoomCode
          tool_name: getRoomDetailByRoomCode
          tool_parameters: {}
        - enabled: true
          provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_label: getHotelHelpAfterSubmitBookingError
          tool_name: getHotelHelpAfterSubmitBookingError
          tool_parameters: {}
        - enabled: true
          provider_id: hotel-booking
          provider_name: 酒店客房预订
          provider_type: mcp
          tool_label: submitBooking
          tool_name: submitBooking
          tool_parameters: {}
        - enabled: true
          provider_id: langgenius/openweather/openweather
          provider_name: langgenius/openweather/openweather
          provider_type: builtin
          tool_label: 天气查询
          tool_name: weather
          tool_parameters: {}
        - enabled: true
          provider_id: time
          provider_name: time
          provider_type: builtin
          tool_label: 获取当前时间
          tool_name: current_time
          tool_parameters: {}
        type: agent-node
      height: 87
      id: '1716700000010'
      position:
        x: 420
        y: 300
      positionAbsolute:
        x: 420
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1716700000010.text#}}'
        selected: false
        title: 预订回复
        type: answer
        variables: []
      height: 102
      id: '1716700000012'
      position:
        x: 720
        y: 300
      positionAbsolute:
        x: 720
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: 非常抱歉，景区门票预订需前往酒店前台办理，欢迎拨打前台电话 0750-662-9888，工作人员将为您提供帮助。
        selected: false
        title: 景区票务回复
        type: answer
        variables: []
      height: 102
      id: '1716700000014'
      position:
        x: 420
        y: 520
      positionAbsolute:
        x: 420
        y: 520
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 0
      y: 0
      zoom: 0.8
  rag_pipeline_variables: []
